/* Master Style Sheet */

* {
    box-sizing: border-box;
}
html,
body {
    background-color: #333333;
    color: #f3f3f3;
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0;
    font-family: 'Titillium Web', Helvetica, sans-serif;
    min-width: 300px;
}
body {
    display: flex;
    flex-flow: column;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    margin-left: .83em;
    color: #1f75fe;
    display: inline-block;
}
h2 {
    font-size: 3em;
    margin: .5em 0;
}
h3 {
    font-size: 1.5em;
}
h4 {
    color: #1f75fe;
}
a {
    color: #e08a01;
    padding: 10px;
    text-decoration: none;
}
nav {
    display: inline-block;
    float: right;
    margin-top: .9em;
    max-width: 100%;
}
nav ul,
.content>ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}
nav>ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    overflow: hidden;
    justify-content: flex-start;
}
nav a {
    display: inline-block;
}
.content>ul {
    padding: 10px 0;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}
nav ul li {
    display: block;
    flex: 1 1 20%;
    margin-right: 5px;
}
footer ul li {
    display: inline-block;
    margin: 0 20px;
}
header {
    background-color: #404040;
    color: #f3f3f3;
    display: inline-block;
    width: 100%;
}
footer {
    background-color: #404040;
    display: inline-block;
    width: 100%;
    color: #f3f3f3;
    padding: 0 15px;
}
footer p {
    display: inline-block;
    padding: 10px;
    margin: 0;
}
main {
    max-width: 1000px;
    width: 80%;
    min-width: 300px;
    margin: auto;
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
}
main > .content {
    width: 100%;
}
main > section.button-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}
.big-button {
    color: white;
    text-align: center;
    display: block;
    flex: 0 1 auto;
    width: 50%;
    transition: all .3s ease;
    position: relative;
}
.big-button:hover {
    width: 75%;
}
.big-button:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50px;
    background-color: inherit;
    top: 0;
    transform: skew(-20deg, 0deg);
    z-index: 10;
}
.big-button.food:before {
    left: 0;
}
.big-button.games:before {
    right: 0;
}
.big-button h2 {
    margin: 0;
    padding: 20px 0;
    position: relative;
    z-index: 11;
}
.big-button.games {
    background-color: #1f75fe;
}
.big-button.food {
    background-color: #e08a01;
}
figure {
    text-align: center;
}
img {
    max-width: 100%;
    padding: 0;
    margin-top: 1em;
    border: #333333 solid;
    border-radius: 20px;
}
.home-image {
    text-align: center;
}
.featured-video {
    display: block;
    width: 100%;
    height: auto;
}
.out-of-view {
    position: fixed;
    top: -100%;
    left: -100%;
}
.float-right {
    float: right;
}

@media screen and (max-width: 500px) {
    html,
    body {
        font-size: 16px;
    }

    h1 {
        display: block;
        margin: .5em 0;
        text-align: center;
    }
    h2 {
        font-size: 2em;
    }

    nav {
        margin: 0;
    }
}
