/* Master Style Sheet */

html, body {
    background-color: #333333;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin-left: .83em;
    color: #1f75fe;
    display: inline-block;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    margin-left: .83em;
}

h3 {
    font-size: 20px;
}

h4 {
    color: #1f75fe;
}

a {
    color: #e08a01;
    padding: 10px;
    text-decoration: none;
}

nav {
    display: inline-block;
    float: right;
    margin-top: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 5px;
}

footer ul li {
    display: inline-block;
    margin: 0 20px;
}

header {
    background-color: #404040;
    color: #f3f3f3;
    display: inline-block;
    width: 100%;
}

footer {
    background-color: #404040;
    display: inline-block;
    width: 100%;
    color: #f3f3f3;
    padding-top: 8px;
}

main {

    max-width: 1000px;
    min-height: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f3f3f3;
}

figure {
    text-align: center;
}

img {
    height: 500px;
    padding: 10px;
    border: #333333 solid;
    border-radius: 20px;
}
