nav {
    width: 100%;
    margin: 0;
}
nav ul {
    width: 100%;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}
nav ul li {
    /*    width: 32%;*/
    margin: 0;
    text-align: center;
    border-right: solid 2px #333333;
    vertical-align: middle;
    flex: 1 0 auto;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    width: 100%;
    display: inline-block;
}
a {
    cursor: pointer;
}
#searchResults ul {
    list-style: none;
}
.selected {
    background: #333333;
    color: white;
}
.separator-line {
    width: 0;
    height: 40px;
    border-right: solid 2px #333333;
    vertical-align: middle;
}
main {
    max-width: none;
    position: fixed;
    bottom: 0px;
    top: 55px;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    min-height: 0;
    text-align: center;
    padding: 0;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.info-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 20px;
    background: #333333;
    color: #f3f3f3;
    border-radius: 1em 1em 0 0;
    max-width: 500px;
    min-width: 300px;
}
.info-container.no-hourly {
    bottom: 30px;
}
figure {
    margin: 0;
    /*    position: absolute;*/
    /*    z-index: -1;*/
    width: 100%;
    height: 100%;
    min-width: 300px;
    top: 4em;
}
img {
    border: none;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 80%;
}
footer {
    position: fixed;
    bottom: 0;
    padding: 0;
}
footer ul {
    font-size: .7em;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
footer ul li {
    /*    margin: 0 15px;*/
    margin: 0;
}
h1 {
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: 10px;
}
h2 {
    margin: 0;
    text-align: center;
    color: #f3f3f3;
}
ul {
    list-style: none;
    padding: 0;
    margin: .5em;
}
#data ul li span {
    float: right;
}
.hourly-data {
    /*    display: none;*/
    background-color: #333333;
    width: 100%;
    position: absolute;
    bottom: 27px;
    height: 42px;
}
#hourly-list li {
    display: inline-block;
    border-right: solid white 1px;
    height: 100%;
    /*    width: 3.7%;*/
    min-width: 2.2em;
    color: white;
    flex: 1 0 auto;
}
#hourly-list li:last-child {
    border-right: none;
}
.hourly-data ul {
    margin: 0;
    height: 100%;
}
.flex-container {
    display: flex;
}
main.flex-container {}
h1.flex-item {
    width: 100%;
    max-width: none;
    flex: 0 0 auto;
}
#searchResults {
    display: block;
    position: absolute;
    top: 50px;
}
@media screen and (min-width: 900px) {
    .hourly-data {
        height: 70px;
    }
    section.info-container {
        bottom: 90px;
    }
    .info-container.no-hourly {
        bottom: 30px;
    }
}
@media screen and (max-width: 1400px) {
    #hourly-list li div:first-child {
        font-size: .8em;
    }
    h1 {
        font-size: 1.7em;
    }
}
