#modal-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.25s cubic-bezier(0.9, 0, 1, 1);
  display: flex;
  align-items: center;
  justify-content: center; }
  #modal-container > section {
    transform: translateY(1rem);
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.9, 0, 1, 1), transform 0.25s cubic-bezier(0.9, 0, 1, 1);
    background-color: white;
    margin: 1rem 1rem 5rem;
    padding: 1rem;
    border-radius: 10px; }
  #modal-container.show {
    transition: background-color 0.75s cubic-bezier(0, 0, 0.1, 1);
    background-color: #000000cc; }
    #modal-container.show > section {
      transform: none;
      opacity: 1;
      transition: opacity 0.75s cubic-bezier(0, 0, 0.1, 1), transform 0.75s cubic-bezier(0, 0, 0.1, 1); }

#modal-warning header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #modal-warning header h1 {
    margin: 0; }
    #modal-warning header h1 i {
      margin-right: .5rem; }

#modal-warning .message {
  margin: 2rem 0; }
  #modal-warning .message p {
    margin-bottom: .5rem; }

#modal-warning footer {
  display: flex;
  align-items: center;
  justify-content: center; }
  #modal-warning footer button {
    margin-left: 1rem; }
