@import "./variables.scss";

$w-default: 5rem;

.projects {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}
.selected_project {
  overflow: hidden;
  flex: 0 0 auto;
  position: relative;
  z-index: 10;
  header {
    background-color: transparent !important;
  }
}
.transition_last_selected {
  .project {
    transition: none;
    transform: translateX(-120%);
  }
  .project.last_selected {
    transition: none;
    transform: none;
  }
}
.project {
  display: flex;
  flex-flow: column;
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  // height: 13rem;
  transition: transform 1s $e-in-out;//height .5s $e-in-out;
  transform: none;
  color: white;
  &.open {
    // height: 88vh;
  }
  &.last_selected {
    position: absolute;
    transform: translateX(120%);
  }
  header {
    // margin: -1rem;
    // padding: 1rem;
    // padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 1;
    .button-menu {
      background-color: white;
      border-radius: 100vh;
      button {
        border: none !important;
        margin-right: .5rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    h2 {
      font-weight: normal;
      line-height: 1;
    }
    // .project-color-bar {
    //   width: 100%;
    //   height: .5rem;
    // }
  }
  .timeline {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    overflow: hidden;
    overflow-x: auto;

    h3 {
      flex: 1 0 100%;
      margin-bottom: 2rem;
      position: absolute;
      bottom: 100%;
      // color: black;
      left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .h-line {
      flex: 1 0 100%;
      border-bottom: $c-white solid 2px;
      position: absolute;
      left: 0;
      right: -7px;
      bottom: 100%;
      margin-bottom: 5px;
    }
    .selected-arrow {
      flex: 1 0 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      margin: auto;
      width: 2rem;
      height: 2rem;
      top: 100%;
      margin-top: 1.6rem;
      transform: translateY(120%);
      transition: transform .5s ease-in-out;
      &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        background-color: $c-white;
      }
    }
    .date {
      position: absolute;
      top: -2rem;
      left: 0;
      // color: $c-black;
      max-width: 100%;
      overflow: hidden;
    }
    li:last-child {
      margin-right: 0;
    }
    li {
      transition: width .5s ease-in-out, background-color .5s ease-in-out;
      background-color: $c-assigned;//$c-black;
      color: $c-white;
      margin-right: 5px;
      margin-top: 4rem;
      flex: 1 1 auto;
      position: relative;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      width: $w-default;
      cursor: pointer;
      will-change: width, background-color;

      &.Unscheduled {
        background-color: $c-unassigned;
        color: $c-black;
        h3 {
          color: $c-white;
        }
      }

      &.after-today {
        margin-left: 7px;
        &:before {
          content: "";
          position: absolute;
          display: block;
          background-color: $c-white;
          width: 2px;
          right: 100%;
          margin-right: 5px;
          top: calc(-2rem + 1px);
          bottom: 0;
          z-index: 0;
        }
      }

      h4 {
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        .job-name, i {
          padding: 0 .25rem;
          white-space: nowrap;
          max-width: 100%;
          display: inline-block;
        }
        .job-name {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .job-box {
        max-width: 100%;
      }
      .status {
        position: absolute;
        top: 100%;
        width: 100%;
        text-align: center;
        margin-top: 4px;
      }
      .progress-bar {
        position: absolute;
        background-color: $c-white;
        left: 0;
        right: 0;
        height: 5px;
        transform-origin: 0;
      }
      .status-text {
        margin-top: .25rem;
        display: inline-block;
      }
      &.last-of-month {
        .h-line {
          right: 0;
        }
      }
      &.complete {
        background-color: $c-complete;
        width: 1rem;
        .progress-bar {
          display: none;
        }
        .job-name {
          // display: none;
        }
        .status-text {
          color: $c-white;
        }
      }
      &.not-selected {
        width: 1rem;
        .job-name {
          // display: none;
        }
      }
      &.selected {
        width: 30vw !important;
        background-color: $c-white;
        .job-box {
          color: $c-black;
        }
        // min-width: 300px;
        .job-name {
          display: inline;
        }
        .selected-arrow {
          transform: translateY(50%);
        }
      }
      &.job-before-selected, &.selected+li {
        width: $w-default;
        .job-name {
          display: inline;
        }
      }
      &.today {
        &, &+li {
          width: 8rem;
        }
        .date {
          background-color: $c-white;
          color: $c-black;
          top: calc(-2rem + 1px);
          width: 1.5rem;
          height: 1.5rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }

    }
  }
}

#project-details {
  flex: 1 1 auto;
  max-height: calc(100vh - 10rem);
  margin-bottom: 0 !important;
  display: flex;
  flex-flow: column;
  position: relative;
  .project {
    .header-color {
      display: none;
    }
    .timeline {
      padding-bottom: 1.5rem;
    }
  }
}
.header-color {
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  bottom: -1rem;
  border-radius: 10px;
  // height: 3rem;
  transition: background-color 1s $e-in-out;
}

.job-detail-panel {
  position: relative;
  margin-top: -2px;
  transition: all .5s ease-in-out;
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  background-color: $c-white;
  box-shadow: $c-card-shadow 0 0 1rem;

  &>div {
    padding: .5rem;
    flex: 1 1 100%;
    display: flex;
    &>div {
      transition: transform .5s $e-in, opacity .5s $e-in;
      transform: translateY(1rem);
      opacity: 0;
      flex: 1 1 100%;
      display: flex;
      flex-flow: column;
    }
  }
  &.open {
    // margin-top: 2rem;
  }
  &.show-content {
    &>div>div {
      transition-timing-function: $e-out;
      transform: none;
      opacity: 1;
    }
  }
  h2 {
    text-align: center;
    margin: .25rem .5rem;

  }

  header {
    margin: -.5rem -.5rem 1rem;
    flex: 0 0 auto;
    display: flex;
    box-shadow: 0 0 1rem $c-card-shadow;
    div {
      display: flex;
      z-index: 10;
      // align-items: center;
      margin-left: 1rem;
    }
    button {
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: bold;
      border-radius: 0;
      border-color: transparent;
    }
  }

  .tab-panel {
    height: 50%;
    flex: 1 1 auto;
    &>div {
      display: none;
      height: 100%;
    }
    .show {
      display: flex;
      flex-flow: column;
    }
  }

}
.editor {
  font-family: inherit;
  border: none;
  margin: 0 -.5rem;
}

.editor .public-DraftEditor-content {
    min-height: 45vh;
}

.scheduler {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  max-height: 100%;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: .5rem;
    }
  }
  .schedule-grid {
    display: flex;
    overflow: auto;
    &.hidden {
      display: none;
    }
    &>ul>li {
      height: 3rem;
      flex: 0 0 auto;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    .cell {
      position: relative;
      margin: 0;
      border: 1px solid $c-black;
      border-right: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1;
      font-weight: bold;
      font-size: .75rem;
      display: flex;
      flex-flow: column;
      opacity: .4;
      padding: 0 5px;
      text-align: center;
      cursor: pointer;
      small {
        font-size: .75rem;
      }
      &:last-of-type {
        border: 1px solid $c-black;
      }
    }
    .cell.today, .cell.today~.cell {
      opacity: 1;
    }
    .assigned {
      &:after {//, &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: $c-black solid 4px;
      }
      // &:after {
      //   right: 0;
      // }
      // &:before {
      //   left: 0;
      // }
    }
    li.month-name {
      h3 {
        font-size: 1.75rem;
      }
    }
    .heat-maps {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column;
      margin-bottom: 0;
      padding-top: .5rem;
      &>li {
        display: flex;
        &:nth-child(even) {
          .day-schedule {
            background-color: lighten($c-lt-grey, 8%);
          }
        }
      }
      ul {
        display: flex;
      }
      .user-schedule {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;
      }
      .month-schedule {
        display: flex;
        flex: 1 1 auto;
        position: relative;
        overflow: hidden;
      }
      .show-day {
        .day-schedule {
          transform: none;
          opacity: 1;
          transition: transform 0s $e-out, opacity .5s $e-out !important;
        }
      }
      .day-schedule {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        z-index: 10;
        transform: translateY(100%);
        opacity: 0;

        transition-timing-function: $e-in-out !important;

        display: flex;
        height: 100%;
        background-color: $c-white;

        .day-cell {
          position: relative;
          margin: 0;
          border-right: 1px solid $c-lt-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1 1;
          font-weight: bold;
          font-size: .75rem;
          display: flex;
          flex-flow: column;
          padding: 0 5px;
          text-align: center;
          &:first-of-type {
            border-left: 1px solid $c-lt-grey;
          }
        }
        .job {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: $c-active;
          color: $c-white;
          margin: 0;
          padding: 0 5px;
          display: flex;
          justify-content: center;
          flex-flow: column nowrap;
          border-radius: 2px;
          overflow: hidden;
          cursor: pointer;
          &:hover {
            max-width: 100vw !important;

            z-index: 30;
            // box-shadow: $c-shadow 0 0 1rem;
          }
          &.selected {
            padding-left: 8px;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border: solid 4px $c-black !important;
            }
          }
          span {
            margin-left: .5rem;
            white-space: nowrap;
          }
          h4 {
            white-space: nowrap;
            overflow: hidden;
            font-weight: bold;
            margin: 0;
          }
          div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2em;
          }
        }
      }
      .heatmap-dates {
        .cell {
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          flex: 1 1;
          width: 2rem;
          opacity: 1;
          &.today {
            background-color: $c-black;
            color: $c-white;
            font-weight: bold;
            &.assigned {
              // &:before, &:after {
              //   background-color: $c-dk-grey;
              // }
            }
          }
        }
      }

      .jobs-0 {
        background-color: $c-white;
      }
      .weekend {
        background-color: $c-lt-grey;
      }
      .jobs-1 {
        background-color: lighten($c-orange, 35%);
      }
      .jobs-2 {
        background-color: lighten($c-orange, 30%);
      }
      .jobs-3 {
        background-color: lighten($c-orange, 25%);
      }
      .jobs-4 {
        background-color: lighten($c-orange, 20%);
      }
      .jobs-5 {
        background-color: lighten($c-orange, 15%);
      }
      .jobs-6 {
        background-color: lighten($c-orange, 10%);
      }
      .jobs-7 {
        background-color: lighten($c-orange, 5%);
      }
      .jobs-8 {
        background-color: $c-orange;
        color: $c-white;
      }
    }
    .user-names {
      flex: 0 0 auto;
      margin-right: 1rem;
      margin-bottom: 0;
      padding-top: .5rem;
      &>li {
        width: 10rem;
      }
      h3 {
        margin: 0;
        line-height: 1.2em;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h4 {
        margin: 0;
        line-height: 1.2;
        color: $c-dk-grey;
        white-space: nowrap;
      }
    }
  }
  .schedule-grid-header {
    overflow: visible;
    flex: 0 0 auto;
    border-bottom: 1px solid #ddd;
    .user-names, .heat-maps {
      padding: 0;
    }
  }
  &.loading {
    // .cell {
    //   background-color: $c-dk-grey;
    // }
  }

  .menu {
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    div>i {
      margin-right: .5rem;
      font-size: 1.5rem;
    }
    .select-container {
      margin-right: 1rem;
    }
    button {
      margin-left: 1rem;
    }
  }
}


.task-editor {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 50%;
  .menu {
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    border-bottom: 1px solid #ddd;
    &>div {
      display: flex;
      align-items: center;
    }
    div>i {
      margin-right: .5rem;
      font-size: 1.5rem;
    }
    .select-container {
      margin-right: 1rem;
    }
    button {
      margin-left: .5rem;
      &:first-child {
        margin: 0;
      }
    }
  }

  .task-list {
    flex: 1 1 auto;
    overflow: auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: .5rem;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 3px;
        left: 0;
        right: 0;
        opacity: 0;
        background-color: $c-active;
      }
      &:nth-child(even) {
        background-color: lighten($c-lt-grey, 8%);
      }
      &:hover, &:active {
        background-color: $c-lt-grey;
      }
      &.currently-editing {
        background-color: $c-black;
      }
      // &.drop-top {
      //   &:after {
      //     top: 0;
      //     opacity: 1;
      //   }
      // }
      // &.drop-bottom {
      //   &:after {
      //     bottom: 0;
      //     opacity: 1;
      //   }
      // }
      .icon-button {
        margin-left: .5rem;
        height: 1.75rem;
        width: 1.75rem;
        font-size: .75em;
      }
    }
    h3 {
      margin: 0;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      .icon-holder {
        position: relative;
        display: inline-flex;
        margin-right: .5rem;
      }
      input {
        border: none;
        flex: 1 1 auto;
      }
    }
    .check {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: 50% 50%;
      transform: scale(0, 0);
      transition: transform .15s $e-in, opacity .15s $e-in;
    }
    .completed {
      .task-name {
        text-decoration: line-through;
      }
      .check {
        transform: none;
        opacity: none;
        transition: transform .25s $e-out, opacity .25s $e-out;
      }
    }
  }
}
