@import "./variables.scss";
.project {
  .timeline {
    display: flex;
    h3 {
      flex: 1 0 100%;
      margin-bottom: 1.5rem;
    }
    .h-line {
      flex: 1 0 100%;
      border-bottom: $c-black solid 2px;
    }
    .date {
      position: absolute;
      top: -2rem;
      left: 0;
      color: $c-black;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      flex: 1 0 auto;
      margin-right: 5px;
      &, li {
        &:last-child {
          margin-right: 0;
        }
      }
      li {
        background-color: $c-black;
        color: $c-white;
        margin-right: 5px;
        margin-top: 5px;
        flex: 1 1 auto;
        position: relative;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        h4 {
          margin: 0;
          i {
            margin-right: .5rem;
          }
        }
        .status {
          position: absolute;
          top: 100%;
          width: 100%;
          color: black;
          text-align: center;
        }
        .progress-bar {
          position: absolute;
          background-color: $c-active;
          left: 0;
          right: 0;
          height: 5px;
          transform-origin: 0;
        }
        .status-text {
          margin-top: .5rem;
          display: inline-block;
        }
        &.complete {
          background-color: $c-grey;
          .progress-bar {
            display: none;
          }
          .status-text {
            color: $c-grey;
          }
        }
        &.selected {
          width: 30vw;
          min-width: 300px;
        }
        &.today {
          &, &+li {
            width: 8rem;
          }
          .date {
            background-color: $c-black;
            color: $c-white;
            border-radius: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
