.project .timeline {
  display: flex; }
  .project .timeline h3 {
    flex: 1 0 100%;
    margin-bottom: 1.5rem; }
  .project .timeline .h-line {
    flex: 1 0 100%;
    border-bottom: #3a3a3a solid 2px; }
  .project .timeline .date {
    position: absolute;
    top: -2rem;
    left: 0;
    color: #3a3a3a; }
  .project .timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    margin-right: 5px; }
    .project .timeline ul:last-child, .project .timeline ul li:last-child {
      margin-right: 0; }
    .project .timeline ul li {
      background-color: #3a3a3a;
      color: white;
      margin-right: 5px;
      margin-top: 5px;
      flex: 1 1 auto;
      position: relative;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem; }
      .project .timeline ul li h4 {
        margin: 0; }
        .project .timeline ul li h4 i {
          margin-right: .5rem; }
      .project .timeline ul li .status {
        position: absolute;
        top: 100%;
        width: 100%;
        color: black;
        text-align: center; }
      .project .timeline ul li .progress-bar {
        position: absolute;
        background-color: #ff9136;
        left: 0;
        right: 0;
        height: 5px;
        transform-origin: 0; }
      .project .timeline ul li .status-text {
        margin-top: .5rem;
        display: inline-block; }
      .project .timeline ul li.complete {
        background-color: #c1c1c1; }
        .project .timeline ul li.complete .progress-bar {
          display: none; }
        .project .timeline ul li.complete .status-text {
          color: #c1c1c1; }
      .project .timeline ul li.selected {
        width: 30vw;
        min-width: 300px; }
      .project .timeline ul li.today, .project .timeline ul li.today + li {
        width: 8rem; }
      .project .timeline ul li.today .date {
        background-color: #3a3a3a;
        color: white;
        border-radius: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center; }
